@import url('https://fonts.googleapis.com/css2?family=Play&family=Vollkorn:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}


.numbers{
  width: 100%;
  height: 33vh;
  padding: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.numbercontainer{
  width: 200px;
  padding: 30px;
  float: left;
  /* border: 2px solid red; */
}

.subheading{
  font-style: italic;
  font-weight: 400;
  font-family: Vollkorn , sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}

.customheading{
  font-weight: 700;
  line-height: 40px;
  font-size: 42px;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: -1px;
  color: #333;
}

.button{
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  border: 2px solid black;
  font-size: 12px;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
  color: #333;
}
.button:hover{
  animation: buttonanimhoverin 0.3s ease 0s forwards;
}
@keyframes buttonanimhoverin {
  to{
      border: 2px solid rgb(88, 88, 88);
      background-color: rgb(88, 88, 88);
      color: white;
  }
}

@media screen and (max-width:768px){
  .customheading{
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .numbers{
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 10px;
    height: 40vh;
  }
  .numbercontainer{
    width: 50%;
  }
  
}


